@charset "UTF-8";
.c_list_date {
  letter-spacing: 0.1em;
}

.c_list_title {
  font-weight: 400;
}

.c-logo__title {
  width: 8.75rem;
}

.c-logo__title a img {
  width: 100%;
  height: 100%;
}

.c-logo__text {
  font-size: 0.5625rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.c-link__sns a svg {
  width: 0.875rem;
  height: 0.875rem;
}

.c-link__sns a span {
  padding-left: 0.625rem;
  font-size: 0.875rem;
  letter-spacing: 0.12em;
}

.c-sec__title {
  position: relative;
  padding-left: 3rem;
  font-size: 1.25rem;
  letter-spacing: 0.12em;
  line-height: 1.2;
}

.c-sec__title::before {
  content: "";
  display: block;
  width: 2.375rem;
  height: 1px;
  background-color: #c5cbd1;
  position: absolute;
  left: 0;
  top: 50%;
}

.c-viewMore {
  width: 8.5rem;
  height: 2.75rem;
}

.c-viewMore a {
  display: inline-block;
  position: relative;
  padding-right: 3.75rem;
  width: 74.852px;
  font-size: 13px;
  height: 100%;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  font-size: auto;
}

.c-viewMore a:hover {
  color: gray;
}

.c-viewMore a::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  right: 0.875rem;
  width: 2.375rem;
  height: 1px;
  background-color: #c5cbd1;
}

.c-viewMore a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 50%;
  border-width: 1px;
  border-color: #c5cbd1;
  border-style: solid;
}

.c-list__date {
  letter-spacing: 0.1em;
}

.trans {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.trans.show {
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
}

.p-mainvisual__title__box.show {
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
  opacity: 1 !important;
}

.to-up {
  -webkit-transform: translate3d(0px, 15px, 0px);
          transform: translate3d(0px, 15px, 0px);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.rotate5 {
  -webkit-transform: translate3d(10px, -20px, 0px) rotate(5deg);
          transform: translate3d(10px, -20px, 0px) rotate(5deg);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.rotate2 {
  -webkit-transform: translate3d(10px, -20px, 0px) rotate(2deg);
          transform: translate3d(10px, -20px, 0px) rotate(2deg);
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.rotate-2 {
  -webkit-transform: translate3d(10px, -20px, 0px) rotate(-2deg);
          transform: translate3d(10px, -20px, 0px) rotate(-2deg);
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.skewX5 {
  -webkit-transform: skewX(5deg);
          transform: skewX(5deg);
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.duration500 {
  -webkit-transition-duration: 500ms !important;
          transition-duration: 500ms !important;
}

.nami_lowerLeft {
  -webkit-transform: translate3d(-50px, 20px, 0px);
          transform: translate3d(-50px, 20px, 0px);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.p-mainvisual__title__box.upperRight {
  -webkit-transform: translate3d(10px, -20px, 0px) skew(-10deg, -10deg);
          transform: translate3d(10px, -20px, 0px) skew(-10deg, -10deg);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  opacity: 0;
}

.p-mainvisual__title__box.lowerRight {
  -webkit-transform: translate3d(10px, 20px, 0px) skew(10deg, 10deg);
          transform: translate3d(10px, 20px, 0px) skew(10deg, 10deg);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  opacity: 0;
}

.p-mainvisual__title__box.lowerLeft {
  -webkit-transform: translate3d(-10px, 20px, 0px) skew(-10deg, -10deg);
          transform: translate3d(-10px, 20px, 0px) skew(-10deg, -10deg);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  opacity: 0;
}

.p-mainvisual__title__box.upperLeft {
  -webkit-transform: translate3d(-10px, -20px, 0px) skew(10deg, 10deg);
          transform: translate3d(-10px, -20px, 0px) skew(10deg, 10deg);
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  opacity: 0;
}

.transZ {
  -webkit-transform: rotateY(20deg) !important;
          transform: rotateY(20deg) !important;
}

.delay500 {
  -webkit-transition-delay: 500ms !important;
          transition-delay: 500ms !important;
}

.delay750 {
  -webkit-transition-delay: 750ms !important;
          transition-delay: 750ms !important;
}

.delay1000 {
  -webkit-transition-delay: 1000ms !important;
          transition-delay: 1000ms !important;
}

.delay1250 {
  -webkit-transition-delay: 1250ms !important;
          transition-delay: 1250ms !important;
}

.delay1350 {
  -webkit-transition-delay: 1350ms !important;
          transition-delay: 1350ms !important;
}

.delay1450 {
  -webkit-transition-delay: 1450ms !important;
          transition-delay: 1450ms !important;
}

.delay1500 {
  -webkit-transition-delay: 1500ms !important;
          transition-delay: 1500ms !important;
}

.delay1550 {
  -webkit-transition-delay: 1550ms !important;
          transition-delay: 1550ms !important;
}

.delay1650 {
  -webkit-transition-delay: 1650ms !important;
          transition-delay: 1650ms !important;
}

.delay1750 {
  -webkit-transition-delay: 1750ms !important;
          transition-delay: 1750ms !important;
}

.delay1750 {
  -webkit-transition-delay: 1750ms !important;
          transition-delay: 1750ms !important;
}

.delay1850 {
  -webkit-transition-delay: 1850ms !important;
          transition-delay: 1850ms !important;
}

.delay1950 {
  -webkit-transition-delay: 1950ms !important;
          transition-delay: 1950ms !important;
}

.delay2000 {
  -webkit-transition-delay: 2000ms !important;
          transition-delay: 2000ms !important;
}

.delay2050 {
  -webkit-transition-delay: 2050ms !important;
          transition-delay: 2050ms !important;
}

.delay2500 {
  -webkit-transition-delay: 2500ms !important;
          transition-delay: 2500ms !important;
}

/*** アニメーションの定義 ***/
@-webkit-keyframes imgScale {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes imgScale {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.l-header__btn.close button {
  background-color: #c5cbd1;
}

.l-header__btn.close .bar i {
  background-color: #fff !important;
}

.l-header__btn.close .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 29px;
  right: 50%;
  margin-right: -0.9375rem;
}

.l-header__btn.close .bar-middle {
  opacity: 0;
}

.l-header__btn.close .bar-bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 29px;
  right: 50%;
  margin-right: -0.9375rem;
}

.l-header__btn.close .bar::after {
  content: "close";
  /*3つ目の要素のafterにclose表示を指定*/
}

.l-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.l-nav__inner {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.l-nav.open {
  opacity: 1 !important;
  visibility: visible !important;
  /* 縦方向のスクロールバーを表示 */
  overflow-y: scroll;
  /* IE などのスクロールバーの色設定 */
  scrollbar-face-color: #999;
  scrollbar-track-color: #eee;
  /* スマホ用の慣性スクロール */
  -webkit-overflow-scrolling: touch;
  /* Chrome などでは細めのきれいなスクロールバーを表示 */
}

.l-nav.open::-webkit-scrollbar {
  width: 5px;
}

.l-nav.open::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 177, 0.3);
}

.l-nav.open::-webkit-scrollbar-track {
  background: rgba(177, 177, 177, 0.1);
}

body.noscroll {
  overflow: hidden;
  height: 100%;
}

html {
  overflow: auto;
  height: 100%;
}

.l-nav__inner {
  padding: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.l-nav__inner .l-nav__logo {
  margin-top: 2rem;
  width: 9.125rem;
}

.l-nav__inner .l-nav__list {
  padding-left: 8rem;
  margin-top: 1.5rem;
}

.l-nav__inner .l-nav__list__main {
  font-size: 1.25rem;
  line-height: 2.5;
}

.l-nav__inner .l-nav__list__main li a {
  display: block;
  color: #333333;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.l-nav__inner .l-nav__list__sub {
  margin-top: 1.5625rem;
  position: relative;
  font-size: 0.875rem;
  padding-top: 1.5625rem;
  line-height: 2.3;
}

.l-nav__inner .l-nav__list__sub::before {
  content: "";
  display: block;
  width: 2.375rem;
  height: 1px;
  background-color: #c5cbd1;
  position: absolute;
  top: 0;
  left: 0;
}

.l-nav__inner .l-nav__list__sub li a {
  display: block;
  color: #333333;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.l-nav__inner .l-nav__list__sns {
  margin-top: 1.5625rem;
  padding-top: 2.5rem;
  position: relative;
}

.l-nav__inner .l-nav__list__sns::before {
  content: "";
  display: block;
  width: 2.375rem;
  height: 1px;
  background-color: #c5cbd1;
  position: absolute;
  top: 0;
  left: 0;
}

.l-header {
  position: relative;
}

.l-header__logo {
  position: absolute;
  z-index: 20;
  top: 2.75rem;
  left: 3.4375rem;
}

.l-header__btn {
  position: fixed;
  z-index: 120;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
}

.l-header__btn button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.l-header__btn button:hover {
  background-color: #c5cbd1;
}

.l-header__btn button:hover .bar-i {
  background-color: #fff;
}

.l-header__btn button .bar {
  display: block;
  width: 2.25rem;
  height: 5rem;
  margin: 0 auto;
  position: relative;
}

.l-header__btn button .bar-i {
  display: block;
  width: 1.875rem;
  height: 1px;
  background-color: #c5cbd1;
  position: absolute;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition: background-color 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.l-header__btn button .bar-top {
  top: 24px;
  right: 0;
}

.l-header__btn button .bar-middle {
  top: 29px;
  left: 0;
}

.l-header__btn button .bar-bottom {
  top: 34px;
  right: 0;
}

.l-header__btn button .bar::after {
  content: "menu";
  /*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  width: 36px;
  top: 52px;
  left: 0px;
  color: black;
  font-size: 0.6rem;
  line-height: 1;
  letter-spacing: 0.12em;
}

.l-main {
  position: relative;
}

.l-main .p-sns__top {
  position: absolute;
  top: 98.125vh;
  right: 3%;
  z-index: 11;
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.l-main .p-mainvisual {
  width: 100vw;
  height: 103vw;
  background-color: #f5f1eb;
}

.l-main .p-mainvisual__inner {
  position: relative;
  width: 100%;
  height: 117.1875vw;
  overflow: hidden;
  display: block;
}

.l-main .p-mainvisual__inner .p-mainvisual__title {
  position: absolute;
  right: 18.75vw;
  top: 23.4375vw;
  z-index: 21;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.4em;
  line-height: 1;
  font-size: 17px;
  font-weight: 400;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p {
  margin-left: 1.875vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p:last-child {
  margin-left: 0;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(5) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(6) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(7) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(8) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.l-main .p-mainvisual__inner .p-mainvisual__title p span:nth-child(9) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.l-main .p-mainvisual__inner .p-mainvisual__text {
  position: absolute;
  left: 17.734375vw;
  top: 72.265625vw;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  line-height: 2;
  z-index: 21;
}

.l-main .p-mainvisual__inner .p-mainvisual__nami {
  position: absolute;
  overflow: hidden;
  font-size: 0;
  z-index: 20;
}

.l-main .p-mainvisual__inner .p-mainvisual__nami img {
  width: 100%;
  height: auto;
}

.l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_1 {
  width: 30.3125vw;
  top: 27vw;
  left: -1.328125vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_2 {
  width: 33.4375vw;
  top: 75.546875vw;
  left: 16.875vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_3 {
  overflow: hidden;
  width: 29.765625vw;
  top: 41vw;
  right: -2.65625vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_4 {
  width: 28.515625vw;
  top: 99.765625vw;
  left: 3.671875vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.l-main .p-mainvisual__inner .p-mainvisual__image img {
  width: 100%;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
  display: inline-block;
  /* インラインブロック要素とする（アニメーションのため） */
  position: relative;
  /* 相対位置とする（アニメーションのため） */
  animation-name: imgScale;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-size_1 {
  width: 31.25vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-size_2 {
  width: 25vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-size_3 {
  width: 18.75vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-size_4 {
  width: 12.5vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_1 {
  top: 8.75vw;
  left: calc(50% - 17.96875vw);
  z-index: 2;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_1 img {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_2 {
  top: -3.75vw;
  left: calc(50% + 10.15625vw);
  z-index: 1;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_2 img {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_1 {
  top: 30vw;
  left: -3.515625vw;
  z-index: 1;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_1 img {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_2 {
  top: 47.265625vw;
  left: 11.71875vw;
  z-index: 2;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_2 img {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_3_1 {
  top: 16.09375vw;
  right: -7.03125vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_3_1 img {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_4_1 {
  top: 59.96875vw;
  left: 56.328125vw;
  z-index: 2;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_4_1 img {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_4_2 {
  bottom: 5vw;
  left: 77.34375vw;
  z-index: 1;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_4_2 img {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_5_1 {
  top: 87.03125vw;
  left: 14.0625vw;
}

.l-main .p-mainvisual__inner .p-mainvisual__image.-img_5_1 img {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-name: imgScale;
          animation-name: imgScale;
}

.l-main .p-about {
  padding: 11.5625vw 0 13vw 0;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.l-main .p-about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: table;
}

.l-main .p-about__inner .p-about__img {
  width: 47.34375vw;
  font-size: 0;
  overflow: hidden;
}

.l-main .p-about__inner .p-about__img img {
  width: 100%;
  height: auto;
}

.l-main .p-about__inner .p-about__textArea {
  padding-left: 7.03125vw;
  max-width: 23rem;
  display: table-cell;
  vertical-align: middle;
}

.l-main .p-about__inner .p-about__textArea h2 {
  margin-top: 6.71875vw;
  font-size: 1.125rem;
  letter-spacing: 0.2em;
  line-height: 2.2;
}

.l-main .p-about__inner .p-about__textArea p {
  margin-top: 3.59375vw;
  font-size: 0.875rem;
  letter-spacing: 0.06em;
  line-height: 2;
}

.l-main .p-about .p-mainvisual__image.-img_6_1 {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: -9.375%;
}

.l-main .p-about .p-mainvisual__image.-img_6_1.-size_3 {
  width: 18.75vw;
}

.l-main .p-about .p-mainvisual__image.-img_6_1 img {
  width: 100%;
}

.l-main .p-about .p-mainvisual__nami.-nami_5 {
  z-index: 20;
  position: absolute;
  width: 25.78125vw;
  bottom: 0;
  right: 8.4375vw;
}

.l-main .p-news {
  margin-top: -3rem;
  padding: 7rem 0;
  background-color: #f5f1eb;
}

.l-main .p-news__wrap {
  max-width: 61rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5.625rem;
  padding-left: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-main .p-news__wrap .p-news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: -3.25rem;
}

.l-main .p-news__wrap .p-news__title {
  width: 1.25rem;
}

.l-main .p-news__wrap .p-news__title h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.2em;
  font-size: 1.25rem;
  line-height: 1.2;
}

.l-main .p-news__wrap .p-news__content {
  padding-left: 5.625vw;
  position: relative;
}

.l-main .p-news__wrap .p-news__content .p-news__viewMore {
  position: absolute !important;
  top: -0.125rem;
  right: 0;
}

.l-main .p-news__wrap .p-news__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.5rem;
  gap: 5.7815845824%;
}

.l-main .p-news__wrap .p-news__content ul li {
  width: 47.1092077088%;
}

.l-main .p-news__wrap .p-news__content ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.3125rem;
}

.l-main .p-news__wrap .p-news__content ul li a .p-news__list__img {
  width: 45.4545%;
}

.l-main .p-news__wrap .p-news__content ul li a .p-news__list__img img {
  width: 100%;
}

.l-main .p-news__wrap .p-news__content ul li a .p-news__list__textArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.875rem;
  font-weight: 400;
}

.l-main .p-set {
  padding: 11.875vw 0 8.59375vw;
}

.l-main .p-set__inner {
  max-width: 61rem;
  margin: 0 auto;
  padding: 0 5.625rem;
  position: relative;
}

.l-main .p-set__inner ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.7868852459%;
}

.l-main .p-set__inner ul li .p-set__list__textArea {
  width: 30.737704918%;
}

.l-main .p-set__inner ul li .p-set__list__textArea h2 {
  font-size: 0.875rem;
  line-height: 2.2;
  letter-spacing: 0.06em;
}

.l-main .p-set__inner ul li .p-set__list__textArea .p-set__viewMore {
  margin-top: 3.125rem;
  margin-left: auto;
}

.l-main .p-set__inner ul li .p-set__list__img {
  width: 61.4754098361%;
  position: relative;
}

.l-main .p-set__inner ul li .p-set__list__img a img {
  width: 100%;
}

.l-main .p-set__inner ul li .p-set__list__img a h3 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.2em;
  position: absolute;
  left: 1.5em;
  top: -2em;
  z-index: 10;
  font-size: 1.25rem;
  line-height: 1.2;
}

.l-main .p-set__inner ul li:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 7.8125vw;
}

.l-main .p-set__inner ul li:last-child {
  margin-top: 7.8125vw;
}

.l-main .p-set__inner p {
  margin-top: 5vw;
  text-align: right;
  font-size: 0.75rem;
  letter-spacing: 0.06em;
}

.l-main .p-set__inner p a {
  color: #b59464;
  border-bottom: solid 1px #b59464;
}

.l-main .p-howTo {
  background-color: #f5f1eb;
  padding: 8.984375vw 0 14.375vw;
}

.l-main .p-howTo__inner {
  max-width: 67.5rem;
  margin: 0 auto;
  padding-right: 5.625rem;
  padding-left: 5.625rem;
  position: relative;
}

.l-main .p-howTo__inner h1 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.3;
  letter-spacing: 0.2em;
}

.l-main .p-howTo__inner .p-howTo__nami {
  text-align: center;
}

.l-main .p-howTo__inner .p-howTo__nami img {
  width: 40%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-main .p-howTo__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8.3333333333%;
  counter-reset: num;
  margin-top: 6.71875vw;
}

.l-main .p-howTo__inner ul li {
  width: 27.7777777778%;
  counter-increment: num;
  position: relative;
}

.l-main .p-howTo__inner ul li h3 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1;
  left: calc(-1.5em + 2px);
  top: 0.625vw;
  z-index: 10;
}

.l-main .p-howTo__inner ul li h3::before {
  content: "0" counter(num);
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  display: block;
  position: absolute;
  font-size: 2rem;
  left: -0.3em;
  top: -1em;
  letter-spacing: 0.1em;
  line-height: 1;
}

.l-main .p-howTo__inner ul li h3 span {
  font-style: normal;
  font-size: 0.8em;
  margin-top: 0.8em;
}

.l-main .p-howTo__inner ul li p {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 2.285714286;
  letter-spacing: 0.05em;
}

.l-main .p-howTo__inner ul li p br {
  display: none;
}

.l-main .p-howTo__inner ul li .p-howTo__img {
  width: 100%;
}

.l-main .p-howTo__inner ul li .p-howTo__img img {
  width: 100%;
}

.l-footer {
  padding: 7.03125vw 0 4.53125vw;
}

.l-footer__wrap {
  max-width: 67.5rem;
  margin: 0 auto;
  padding-left: 5.625rem;
  padding-right: 5.625rem;
  position: relative;
}

.l-footer__wrap .l-footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12.96875vw 1fr 7.03125vw;
      grid-template-columns: 12.96875vw 1fr 7.03125vw;
  -ms-grid-rows: 1fr 20px;
      grid-template-rows: 1fr 20px;
      grid-template-areas: "logo nav pagetop" "copyright copyright ig";
  gap: 5.46875vw 8.3333333333%;
}

.l-footer__wrap .l-footer__inner .l-footer__logo {
  width: 12.96875vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.l-footer__wrap .l-footer__inner .l-footer__logo a {
  display: block;
}

.l-footer__wrap .l-footer__inner .l-footer__logo a img {
  max-width: 100%;
  height: auto;
}

.l-footer__wrap .l-footer__inner nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
}

.l-footer__wrap .l-footer__inner nav ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -2.5rem;
  height: 7.3125rem;
}

.l-footer__wrap .l-footer__inner nav ul li {
  display: list-item;
  text-align: -webkit-match-parent;
  font-weight: 400;
}

.l-footer__wrap .l-footer__inner nav ul li a {
  display: inline-block;
  color: inherit;
  padding-right: 2.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  letter-spacing: 0.06em;
  line-height: 2.5;
}

.l-footer__wrap .l-footer__inner .l_footer__pagetop {
  position: relative;
  height: 12.8125vw;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-left: auto;
}

.l-footer__wrap .l-footer__inner .l_footer__pagetop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  letter-spacing: 0.12em;
  padding-right: 1.5625vw;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  color: #333333;
}

.l-footer__wrap .l-footer__inner .l_footer__pagetop a::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #c5cbd1;
  position: absolute;
  bottom: -1em;
  right: 0;
}

.l-footer__wrap .l-footer__inner .l-footer__sns {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ig;
}

.l-footer__wrap .l-footer__inner .l-footer__sns a {
  width: 100% !important;
}

.l-footer__wrap .l-footer__inner .l-footer__sns a svg {
  display: none;
}

.l-footer__wrap .l-footer__inner .l_footer__copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: copyright;
  font-size: 0.625rem;
  letter-spacing: 0.06em;
  line-height: 1;
}
/*# sourceMappingURL=pc.css.map */