.c_list_date {
  letter-spacing: 0.1em;
  font-family: "Hina Mincho", serif;
}

.c_list_title {
  font-weight: 400;
}

.c-logo__title {
  width: 8.75rem;
  a {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.c-logo__text {
  font-size: 0.5625rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Hina Mincho", serif;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.c-link__sns {
  a {
    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
    span {
      padding-left: 0.625rem;
      letter-spacing: 0.12em;
      font-family: "Hina Mincho", serif;
    }
  }
}

.c-sec__title {
  position: relative;
  font-family: "Hina Mincho", serif;
  padding-left: 3rem;
  font-size: 1.25rem;
  letter-spacing: 0.12em;
  line-height: 1.2;

  &::before {
    content: "";
    display: block;
    width: 2.375rem;
    height: 1px;
    background-color: #c5cbd1;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

.c-viewMore {
  width: 8.5rem;
  height: 2.75rem;

  a {
    display: inline-block;
    position: relative;
    padding-right: 3.75rem;
    width: 74.852px;
    font-size: 13px;
    height: 100%;
    letter-spacing: 0.1em;
    font-family: "Hina Mincho", serif;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    font-size: auto;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      right: 0.875rem;
      width: 2.375rem;
      height: 1px;
      background-color: #c5cbd1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1.6875rem;
      height: 1.6875rem;
      border-radius: 50%;
      border-width: 1px;
      border-color: #c5cbd1;
      border-style: solid;
    }
  }
}

.c-list__date {
  letter-spacing: 0.1em;
  font-family: "Hina Mincho", serif;
}

//アニメーション
.trans {
  transform: translate3d(0px, 0px, 0px);
  opacity: 0;
  transition-property: all;
  transition-duration: 2000ms;
  transition-timing-function: ease;
}
.trans.show {
  transform: translate(0, 0) !important;
  transform: rotate(0deg);
  opacity: 1;
}
.to-up {
  transform: translate3d(0px, 15px, 0px);
  transition-duration: 1500ms;
}
.rotate5 {
  transform: translate3d(10px, -20px, 0px) rotate(5deg);
  transition-duration: 1500ms;
}
.rotate2 {
  transform: translate3d(10px, -20px, 0px) rotate(2deg);
  transition-duration: 2000ms;
}
.rotate-2 {
  transform: translate3d(10px, -20px, 0px) rotate(-2deg);
  transition-duration: 2000ms;
}
.skewX5 {
  transform: skewX(5deg);
  transition-duration: 2000ms;
}
.skewX20 {
  transform: skewX(20deg);
  transition-duration: 2000ms;
}
.nami_lowerLeft {
  transform: translate3d(-50px, 20px, 0px);
  transition-duration: 1000ms;
}
.p-mainvisual__title__box.trans.upperRight {
  transform: translate3d(20px, -20px, 0px);
  transition-duration: 2000ms;
}
.p-mainvisual__title__box.trans.lowerRight {
  transform: translate3d(20px, 20px, 0px);
  transition-duration: 2000ms;
}
.p-mainvisual__title__box.trans.lowerLeft {
  transform: translate3d(-20px, 20px, 0px);
  transition-duration: 2000ms;
}
.p-mainvisual__title__box.trans.upperLeft {
  transform: translate3d(-20px, -20px, 0px);
  transition-duration: 2000ms;
}
.delay500 {
  transition-delay: 500ms;
}
.delay750 {
  transition-delay: 750ms;
}
.delay1000 {
  transition-delay: 1000ms;
}
.delay1250 {
  transition-delay: 1250ms;
}
.delay1500 {
  transition-delay: 1500ms;
}
.delay1750 {
  transition-delay: 1750ms;
}
.delay2000 {
  transition-delay: 2000ms;
}

/*** アニメーションの定義 ***/
@keyframes textWave {
  0% {
    right: 0;
  }
  100% {
    //right: -0.5em; /* right位置を4分の1ずらす */
    transform: skewX(20deg);
  }
}

@keyframes imgScale {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// バーガーメニュー
.l-header__btn.close {
  button {
    background-color: #c5cbd1;
  }
  .bar {
    i {
      background-color: #fff !important;
    }
    &-top {
      transform: rotate(45deg);
      top: 29px;
      right: 50%;
      margin-right: -0.9375rem;
    }
    &-middle {
      opacity: 0;
    }
    &-bottom {
      transform: rotate(-45deg);
      top: 29px;
      right: 50%;
      margin-right: -0.9375rem;
    }
    &::after {
      content: "close"; /*3つ目の要素のafterにclose表示を指定*/
    }
  }
}

//nav
.l-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  &__inner {
    height: 100%;
    //overflow: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
.l-nav.open {
  opacity: 1 !important;
  visibility: visible !important;
  /* 縦方向のスクロールバーを表示 */
  overflow-y: scroll;

  /* IE などのスクロールバーの色設定 */
  scrollbar-face-color: #999;
  scrollbar-track-color: #eee;

  /* スマホ用の慣性スクロール */
  -webkit-overflow-scrolling: touch;

  /* Chrome などでは細めのきれいなスクロールバーを表示 */
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(177, 177, 177, 0.3);
  }
  &::-webkit-scrollbar-track {
    background: rgba(177, 177, 177, 0.1);
  }
}
body.noscroll {
  overflow: hidden;
  height: 100%;
}

//ios対応
html {
  overflow: auto;
  height: 100%;
}

.l-nav__inner {
  padding: 9.375rem;
  display: flex;
  justify-content: flex-end;
  .l-nav__logo {
    margin-top: 2rem;
    width: 9.125rem;
  }
  .l-nav__list {
    padding-left: 8rem;
    margin-top: 1.5rem;
    &__main {
      font-size: 1.25rem;
      line-height: 2.5;
      li {
        a {
          display: block;
          color: #333333;
          text-decoration: none;
          letter-spacing: 0.06em;
        }
      }
    }
    &__sub {
      margin-top: 1.5625rem;
      position: relative;
      font-size: 0.875rem;
      padding-top: 1.5625rem;
      line-height: 2.3;
      &::before {
        content: "";
        display: block;
        width: 2.375rem;
        height: 1px;
        background-color: #c5cbd1;
        position: absolute;
        top: 0;
        left: 0;
      }
      li {
        a {
          display: block;
          color: #333333;
          text-decoration: none;
          letter-spacing: 0.06em;
        }
      }
    }
    &__sns {
      margin-top: 1.5625rem;
      padding-top: 2.5rem;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 2.375rem;
        height: 1px;
        background-color: #c5cbd1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

// ***** header *****
.l-header {
  position: relative;
  &__logo {
    position: absolute;
    z-index: 20;
    top: 2.75rem;
    left: 3.4375rem;
  }
  &__btn {
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;

    button {
      width: 100%;
      height: 100%;
      background-color: #fff;
      cursor: pointer;
      font-family: "Hina Mincho", serif;
      transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
      &:hover {
        background-color: #c5cbd1;
      }
      &:hover .bar-i {
        background-color: #fff;
      }

      .bar {
        display: block;
        width: 2.25rem;
        height: 5rem;
        margin: 0 auto;
        position: relative;

        &-i {
          display: block;
          width: 1.875rem;
          height: 1px;
          background-color: #c5cbd1;
          position: absolute;
          transition: background-color 0.3s cubic-bezier(0, 0.55, 0.45, 1);
        }

        &-top {
          top: 24px;
          right: 0;
        }
        &-middle {
          top: 29px;
          left: 0;
        }
        &-bottom {
          top: 34px;
          right: 0;
        }
        &::after {
          content: "menu"; /*3つ目の要素のafterにMenu表示を指定*/
          position: absolute;
          width: 36px;
          top: 52px;
          left: 0px;
          color: black;
          font-size: 0.6rem;
          line-height: 1;
          letter-spacing: 0.12em;
        }
      }
    }
  }
}

// ***** main *****
.l-main {
  position: relative;
  .p-sns__top {
    position: absolute;
    top: max(100vh - 1.875vh);
    right: 3%;
    z-index: 11;
    transform: rotate(90deg) translateY(-50%);
    transform-origin: 100% 50%;
  }

  // *** -mainvisual ***
  .p-mainvisual {
    width: 100vw;
    height: 103vw;
    background-color: #f5f1eb;
    &__inner {
      position: relative;
      width: 100%;
      height: 117.1875vw;
      overflow: hidden;
      display: block;
      .p-mainvisual__title {
        position: absolute;
        right: 18.75vw;
        top: 23.4375vw;
        z-index: 21;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        letter-spacing: 0.4em;
        line-height: 1;
        font-size: 17px;
        font-weight: 400;

        p {
          margin-left: 1.875vw;
          &:last-child {
            margin-left: 0;
          }

          span {
            // display: inline-block; /* インラインブロック要素とする（アニメーションのため） */
            // position: relative; /* 相対位置とする（アニメーションのため） */

            // animation-name: textWave;
            // animation-duration: 1s;
            // animation-timing-function: ease-out; // 変化のスピード感 ( linear : 開始から終了まで一定)
            &:nth-child(2) {
              transition-delay: 0.2s;
            }
            &:nth-child(3) {
              transition-delay: 0.4s;
            }
            &:nth-child(4) {
              transition-delay: 0.6s;
            }
            &:nth-child(5) {
              transition-delay: 0.8s;
            }
            &:nth-child(6) {
              transition-delay: 1s;
            }
            &:nth-child(7) {
              transition-delay: 1.2s;
            }
            &:nth-child(8) {
              transition-delay: 1.4s;
            }
            &:nth-child(9) {
              transition-delay: 1.6s;
            }
          }
        }
      }

      .p-mainvisual__text {
        position: absolute;
        left: 17.734375vw;
        top: 72.265625vw;
        font-size: 1.25rem;
        letter-spacing: 0.04em;
        line-height: 2;
        z-index: 21;
        font-family: "Hina Mincho", serif;
      }

      .p-mainvisual__nami {
        position: absolute;
        font-size: 0;
        z-index: 20;
        img {
          width: 100%;
          height: auto;
        }
        &.-nami_1 {
          width: 30.3125vw;
          top: 27vw;
          left: -1.328125vw;
        }
        &.-nami_2 {
          width: 33.4375vw;
          top: 75.546875vw;
          left: 16.875vw;
        }
        &.-nami_3 {
          overflow: hidden;
          width: 29.765625vw;
          top: 41vw;
          right: -2.65625vw;
        }
        &.-nami_4 {
          width: 28.515625vw;
          top: 99.765625vw;
          left: 3.671875vw;
        }
      }

      .p-mainvisual__image {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;

        img {
          width: 100%;
          animation-name: imgScale;
          display: inline-block; /* インラインブロック要素とする（アニメーションのため） */
          position: relative; /* 相対位置とする（アニメーションのため） */

          animation-name: imgScale;
          animation-duration: 1s;
          animation-timing-function: linear; // 変化のスピード感 ( ease-in : 速度はゆっくり始まり、終了まで加速)
        }

        &.-size_1 {
          width: 31.25vw;
        }
        &.-size_2 {
          width: 25vw;
        }
        &.-size_3 {
          width: 18.75vw;
        }
        &.-size_4 {
          width: 12.5vw;
        }

        &.-img_1_1 {
          top: 8.75vw;
          left: calc(50% - 17.96875vw);
          z-index: 2;
          img {
            animation-delay: 750ms;
            animation-name: imgScale;
          }
        }
        &.-img_1_2 {
          top: -3.75vw;
          left: calc(50% + 10.15625vw);
          z-index: 1;
          img {
            animation-delay: 1000ms;
            animation-name: imgScale;
          }
        }
        &.-img_2_1 {
          top: 30vw;
          left: -3.515625vw;
          z-index: 1;
          img {
            animation-delay: 1000ms;
            animation-name: imgScale;
          }
        }
        &.-img_2_2 {
          top: 47.265625vw;
          left: 11.71875vw;
          z-index: 2;
          img {
            animation-delay: 750ms;
            animation-name: imgScale;
          }
        }
        &.-img_3_1 {
          top: 16.09375vw;
          right: -7.03125vw;
          img {
            animation-delay: 1000ms;
            animation-name: imgScale;
          }
        }
        &.-img_4_1 {
          top: 59.96875vw;
          left: 56.328125vw;
          z-index: 2;
          img {
            animation-delay: 500ms;
            animation-name: imgScale;
          }
        }
        &.-img_4_2 {
          bottom: 5vw;
          left: 77.34375vw;
          z-index: 1;
          img {
            animation-delay: 1000ms;
            animation-name: imgScale;
          }
        }
        &.-img_5_1 {
          top: 87.03125vw;
          left: 14.0625vw;
          img {
            animation-delay: 1000ms;
            animation-name: imgScale;
          }
        }
      }
    }
  }

  .p-about {
    padding: 11.5625vw 0 13vw 0;
    z-index: 2;
    position: relative;
    overflow: hidden;

    &__inner {
      display: flex;
      display: table;
      .p-about__img {
        width: 47.34375vw;
        font-size: 0;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
      .p-about__textArea {
        padding-left: 7.03125vw;
        max-width: 23rem;
        display: table-cell;
        vertical-align: middle;

        h2 {
          margin-top: 6.71875vw;
          font-size: 1.125rem;
          letter-spacing: 0.2em;
          line-height: 2.2;
        }
        p {
          margin-top: 3.59375vw;
          font-size: 0.875rem;
          letter-spacing: 0.06em;
          line-height: 2;
        }
      }
    }
    .p-mainvisual__image.-img_6_1 {
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: -9.375%;
      &.-size_3 {
        width: 18.75vw;
      }
      img {
        width: 100%;
      }
    }
    .p-mainvisual__nami.-nami_5 {
      z-index: 20;
      position: absolute;
      width: 25.78125vw;
      bottom: 0;
      right: 8.4375vw;
    }
  }

  .p-news {
    margin-top: -3rem;
    padding: 7rem 0;
    background-color: #f5f1eb;

    &__wrap {
      max-width: 61rem;
      margin-right: auto;
      margin-left: auto;
      padding-right: 5.625rem;
      padding-left: 5.625rem;
      display: flex;

      .p-news__inner {
        display: flex;
        position: relative;
        margin-right: -3.25rem;
      }
      .p-news__title {
        width: 1.25rem;

        h1 {
          writing-mode: vertical-rl;
          letter-spacing: 0.2em;
          font-family: "Shippori Mincho", serif;
          font-size: 1.25rem;
          line-height: 1.2;
        }
      }

      .p-news__content {
        padding-left: 5.625vw;
        position: relative;

        .p-news__viewMore {
          position: absolute !important;
          top: -0.125rem;
          right: 0;
        }

        ul {
          display: flex;
          margin-top: 4.5rem;
          gap: 5.7815845824%;
          li {
            width: 47.1092077088%;

            a {
              display: flex;
              justify-content: space-between;
              gap: 1.3125rem;

              .p-news__list__img {
                width: 45.4545%;
                img {
                  width: 100%;
                }
              }
              .p-news__list__textArea {
                flex: 1; //これがないとimgのwidth効かない
                font-size: 0.875rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }

  .p-set {
    padding: 11.875vw 0 8.59375vw;

    &__inner {
      max-width: 61rem;
      margin: 0 auto;
      padding: 0 5.625rem;
      position: relative;

      ul {
        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 7.7868852459%;

          .p-set__list__textArea {
            width: 30.737704918%;

            h2 {
              font-size: 0.875rem;
              line-height: 2.2;
              letter-spacing: 0.06em;
            }

            .p-set__viewMore {
              margin-top: 3.125rem;
              margin-left: auto;
            }
          }

          .p-set__list__img {
            width: 61.4754098361%;
            position: relative;
            a {
              img {
                width: 100%;
              }
              h3 {
                writing-mode: vertical-rl;
                letter-spacing: 0.2em;
                font-family: "Shippori Mincho", serif;
                position: absolute;
                left: 1.5em;
                top: -2em;
                z-index: 10;
                font-size: 1.25rem;
                line-height: 1.2;
              }
            }
          }

          &:nth-child(2) {
            flex-direction: row-reverse;
            margin-top: 7.8125vw;
          }
          &:last-child {
            margin-top: 7.8125vw;
          }
        }
      }

      p {
        margin-top: 5vw;
        text-align: right;
        font-size: 0.75rem;
        letter-spacing: 0.06em;
        a {
          color: #b59464;
          border-bottom: solid 1px #b59464;
        }
      }
    }
  }

  .p-howTo {
    background-color: #f5f1eb;
    padding: 8.984375vw 0 14.375vw;

    &__inner {
      max-width: 67.5rem;
      margin: 0 auto;
      padding-right: 5.625rem;
      padding-left: 5.625rem;
      position: relative;

      h1 {
        text-align: center;
        font-size: 1.25rem;
        line-height: 2.3;
        letter-spacing: 0.2em;
      }
      .p-howTo__nami {
        text-align: center;

        img {
          width: 40%;
          height: auto;
          object-fit: cover;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8.3333333333%;
        counter-reset: num;
        margin-top: 6.71875vw;

        li {
          width: 27.7777777778%;
          counter-increment: num;
          position: relative;

          h3 {
            writing-mode: vertical-rl;
            position: absolute;
            font-size: 1.25rem;
            font-weight: 400;
            letter-spacing: 0.2em;
            line-height: 1;
            left: calc(-1.5em + 2px);
            top: 0.625vw;
            z-index: 10;
            &::before {
              content: "0" counter(num);
              writing-mode: horizontal-tb;
              display: block;
              position: absolute;
              font-size: 2rem;
              font-family: "Hina Mincho", serif;
              left: -0.3em;
              top: -1em;
              letter-spacing: 0.1em;
              line-height: 1;
            }
            span {
              font-style: normal;
              font-size: 0.8em;
              margin-top: 0.8em;
            }
          }

          p {
            margin-top: 1.25rem;
            font-size: 0.875rem;
            line-height: 2.285714286;
            letter-spacing: 0.05em;
          }

          .p-howTo__img {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// ***** footer *****
.l-footer {
  padding: 7.03125vw 0 4.53125vw;

  &__wrap {
    max-width: 67.5rem;
    margin: 0 auto;
    padding-left: 5.625rem;
    padding-right: 5.625rem;
    position: relative;

    .l-footer__inner {
      display: grid;
      grid-template-columns: 12.96875vw 1fr 7.03125vw;
      grid-template-rows: 1fr 20px;
      grid-template-areas:
        "logo nav pagetop"
        "copyright copyright ig";
      gap: 5.46875vw 8.3333333333%;

      .l-footer__logo {
        width: 12.96875vw;
        grid-area: logo;
        a {
          display: block;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      nav {
        grid-area: nav;
        ul {
          width: max-content;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin-right: -2.5rem;
          height: 7.3125rem;

          li {
            display: list-item;
            text-align: -webkit-match-parent;
            font-weight: 400;
            a {
              display: inline-block;
              color: inherit;
              padding-right: 2.5rem;
              text-decoration: none;
              font-size: 0.875rem;
              letter-spacing: 0.06em;
              line-height: 2.5;
            }
          }
        }
      }

      .l_footer__pagetop {
        position: relative;
        height: 12.8125vw;
        transform: translateY(-100%);
        margin-left: auto;

        a {
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          font-size: 0.8rem;
          font-family: "Hina Mincho", serif;
          letter-spacing: 0.12em;
          padding-right: 1.5625vw;
          cursor: pointer;
          text-align: left;
          text-decoration: none;
          color: #333333;

          &::before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background-color: #c5cbd1;
            position: absolute;
            bottom: -1em;
            right: 0;
          }
        }
      }

      .l-footer__sns {
        grid-area: ig;
        a {
          width: 100% !important;
          svg {
            display: none;
          }
        }
      }

      .l_footer__copyright {
        grid-area: copyright;
        font-size: 0.625rem;
        letter-spacing: 0.06em;
        line-height: 1;
      }
    }
  }
}
