@charset "UTF-8";
@media screen and (max-width: 1100px) {
  /* 1100px以下に適用 */
  .l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_1 {
    top: 35vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_1 {
    top: 37vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_2 {
    top: 50vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_5_1 {
    top: 93vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_1 {
    width: 30vw;
  }
}

@media screen and (max-width: 1000px) {
  /* 1000px以下に適用 */
  .p-mainvisual__image.-img_6_1 {
    display: none;
  }
  .p-mainvisual__nami.-nami_5 {
    display: none;
  }
  .p-sns__top {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* 800px以下に適用 */
  .l-header__logo {
    width: 8.75rem;
    top: 1.5625rem;
    left: 1.5625rem;
  }
  .l-nav__inner .l-nav__list {
    padding-left: 1rem;
  }
  .l-nav__inner .l-nav__list__main {
    font-size: 1.15rem;
  }
  .l-main .p-mainvisual {
    height: 413.3333333333vw !important;
  }
  .l-main .p-mainvisual__inner {
    height: 100%;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__title {
    right: 7.4666666667vw;
    top: 153vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__title h1 {
    font-size: 3.7333333333vw;
    width: auto;
    height: auto;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__text {
    left: 12vw;
    top: 370vw;
    font-size: 3.5vw;
    width: auto;
    height: auto;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_1 {
    width: 103.4666666667vw;
    top: 74.6666666667vw;
    left: -56.2666666667vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_2 {
    width: 114.1333333333vw;
    top: 360vw;
    left: 9.3333333333vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_3 {
    width: 101.6vw;
    top: 110vw;
    left: 42.4vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__nami.-nami_4 {
    width: 92.8vw;
    top: 541.3333333333vw;
    right: -11.2vw;
    left: auto;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_1 {
    width: 64vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_2 {
    width: 64vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_3 {
    width: 42.6666666667vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_4 {
    width: 32vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_1 {
    top: 46.9333333333vw;
    left: calc(50% - 27.47vw);
    z-index: 2;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_2 {
    display: none;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_1 {
    top: 134.1333333333vw;
    left: -10.6666666667vw;
    z-index: 2;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_2_2 {
    top: 180.2666666667vw;
    left: 22.6666666667vw;
    z-index: 2;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_3_1 {
    top: 0;
    left: calc(100% - 6.13vw);
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_4_1 {
    top: 243.7333333333vw;
    left: 44vw;
    z-index: 2;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_4_2 {
    width: 30vw !important;
    bottom: auto;
    top: 320vw;
    left: 23.4666666667vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_5_1 {
    top: 252.2666666667vw;
    left: -12.5333333333vw;
  }
  .l-main .p-about {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
  }
  .l-main .p-about__inner {
    display: block;
  }
  .l-main .p-about__inner .p-about__img {
    width: 100%;
  }
  .l-main .p-about__inner .p-about__textArea {
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 32vw 9.6vw;
    max-width: inherit;
  }
  .l-main .p-about__inner .p-about__textArea h2 {
    margin-top: 13.3333333333vw;
  }
  .l-main .p-about__inner .p-about__textArea p {
    margin-top: 9.6vw;
  }
  .l-main .p-about .p-mainvisual__image.-img_6_1 {
    display: none;
  }
  .l-main .p-about .p-mainvisual__nami.-nami_5 {
    display: none;
  }
  .l-main .p-news__wrap {
    padding-left: 9.6vw;
    padding-right: 9.6vw;
  }
  .l-main .p-news__wrap .p-news__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content .p-news__viewMore {
    display: none;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content .p-news__subTitle {
    position: absolute;
    top: -6rem;
    right: 12.8vw;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul {
    display: block;
    margin-top: 0;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li {
    display: block;
    margin-top: 10rem;
    width: 100%;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li:first-child {
    padding-right: 0;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li a {
    display: block;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li a .p-news__list__img {
    margin-right: 0;
    width: 100%;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li a .p-news__list__img img {
    width: 100%;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li a .p-news__list__textArea {
    margin-top: 2rem;
  }
  .l-main .p-news__wrap .p-news__inner .p-news__content ul li a .p-news__list__textArea .c-list__title {
    margin-top: 0.5rem;
  }
  .l-main .p-set {
    padding: 29.8666666667vw 0 16vw;
  }
  .l-main .p-set__inner {
    padding-left: 9.6vw;
    padding-right: 9.6vw;
  }
  .l-main .p-set__inner ul {
    width: 100%;
    margin: auto;
  }
  .l-main .p-set__inner ul li {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-main .p-set__inner ul li:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 21.3333333333vw;
  }
  .l-main .p-set__inner ul li:last-child {
    margin-top: 21.3333333333vw;
  }
  .l-main .p-set__inner ul li .p-set__list__textArea {
    margin-top: 2.6666666667vw;
    width: auto;
  }
  .l-main .p-set__inner ul li .p-set__list__textArea .p-set__viewMore {
    margin-top: 5.3333333333vw;
  }
  .l-main .p-set__inner ul li .p-set__list__img {
    width: 100% !important;
  }
  .l-main .p-set__inner ul li .p-set__list__img a img {
    width: 100%;
  }
  .l-main .p-set__inner p {
    margin-top: 23.4666666667vw;
  }
  .l-main .p-howTo {
    padding: 24.5333333333vw 0 39.4666666667vw;
  }
  .l-main .p-howTo__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .l-main .p-howTo__inner ul {
    gap: 8vw 10%;
    margin-top: 24vw;
    padding-left: 13.3333333333vw;
    padding-right: 6.4vw;
  }
  .l-main .p-howTo__inner ul li {
    width: 100%;
    margin-top: 0;
  }
  .l-main .p-howTo__inner ul li h3 {
    top: 2.1333333333vw;
  }
  .l-main .p-howTo__inner ul li h3::before {
    top: -1.5em;
  }
  .l-main .p-howTo__inner ul li p {
    margin-top: 0.8em;
  }
  .l-main .p-howTo__inner ul li:nth-child(2), .l-main .p-howTo__inner ul li:last-child {
    margin-top: 30.9333333333vw;
  }
  .l-footer {
    padding: 20.2666666667vw 0 21.3333333333vw;
  }
  .l-footer__wrap {
    padding-left: 9.6vw;
    padding-right: 9.6vw;
  }
  .l-footer__wrap .l-footer__inner .l-footer__flex {
    display: block;
  }
  .l-footer__wrap .l-footer__inner .l-footer__flex .l-footer__logo {
    width: 40vw;
  }
  .l-footer__wrap .l-footer__inner .l-footer__flex nav {
    margin-top: 10rem;
    margin-bottom: 55vw;
  }
  .l-footer__wrap .l-footer__inner .l-footer__flex nav ul {
    width: auto;
    margin-right: -1.25rem;
  }
  .l-footer__wrap .l-footer__inner .l-footer__flex nav ul li a {
    font-size: 0.75rem;
    padding-right: 0.5rem;
  }
  .l-footer__wrap .l-footer__inner .l_footer__pagetop {
    width: 21.3333333333vw;
    height: 43.7333333333vw;
  }
  .l-footer__wrap .l-footer__inner .l-footer__sns {
    position: absolute;
    bottom: 8vw;
    left: 0.5rem;
    line-height: 6.4vw;
  }
  .l-footer__wrap .l-footer__inner .l-footer__sns a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-footer__wrap .l-footer__inner .l-footer__sns a svg {
    width: 6.4vw;
    height: 6.4vw;
  }
  .l-footer__wrap .l-footer__inner .l-footer__sns a span {
    display: block;
    font-size: 1rem;
    height: 6.4vw;
    line-height: 6.4vw;
  }
  .l-footer__wrap .l-footer__inner .l_footer__copyright {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  /* 640px以下に適用 */
  .l-nav__inner {
    display: block;
    padding: 29.8666666667vw 10.6666666667vw 29.8666666667vw 37.3333333333vw;
  }
  .l-nav__inner .l-nav__logo {
    width: 33.6vw;
  }
  .l-nav__inner .l-nav__list {
    padding-left: 0;
  }
  .l-nav__inner .l-nav__list__main {
    margin-top: 3.125rem;
    padding-top: 1.25rem;
    position: relative;
  }
  .l-nav__inner .l-nav__list__main::before {
    content: "";
    display: block;
    width: 2.375rem;
    height: 1px;
    background-color: #c5cbd1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 520px) {
  /* 520px以下に適用 */
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_1 {
    width: 59vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_1 {
    top: 57vw;
  }
}

@media screen and (max-width: 425px) {
  /* 425px以下に適用 */
  .l-main .p-mainvisual__inner .p-mainvisual__image.-size_1 {
    width: 50vw;
  }
  .l-main .p-mainvisual__inner .p-mainvisual__image.-img_1_1 {
    top: 74vw;
  }
}
/*# sourceMappingURL=sp.css.map */